<div class="container">
	
  <div class="m_content"></div>
  
<div class="row">
  <div class="span12">
   <!-- <div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Warning!</strong> Best check yo self, you're not looking too good.
</div>-->


<!--end here -->
    <div class="row">
      <div class="span2">	
	  <!--Sidebar content-->
<ul class="nav nav-list">
  <li class="nav-header"><i class="icon-random"></i> CATEGORIES</li></li>
  <li ng-class="active('all')"> <a ng-click="cat = 'all' "><i class="icon-asterisk"></i> All</a></li>
  <li ng-class="active('web')" ><a ng-class="active('web')" ng-click="cat = 'web'"><i class="icon-asterisk"></i> WEB</a></li>
  <li ng-class="active('mob')" ><a ng-class="active('mob')" ng-click="cat = 'mob'"><i class="icon-asterisk"></i> MOB</a></li>
  <li ng-class="active('prnt')" ><a ng-class="active('rating')" ng-click="cat = 'prnt'"><i class="icon-asterisk"></i> PRNT</a></li>
  <li class="divider"></li>

  <div class="input-append">
  <input ng-model="query" class="span2" id="appendedInput" type="text">
  <span class="add-on"><i class="icon-search"></i></span>
</div>


  </ul>

</ul>

 </div>
      <div class="span6 offset1">
<!--Body content-->


<div class="media" ng-repeat="things in thing | filter:query | orderBy:order:true">
  <a class="pull-left" href="#/{{things.id}}">
    <img class="media-object img-rounded" src="{{things.thumb}}" height="75" width="75">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><a href="#/{{things.id}}">{{things.name}}</a></h4>
    <p>{{things.snippet}}</p>

  </div>
</div>


      </div>
	  <div class="span2 offset1">
<!--Graduated Projects-->

  <li class="nav-header"><i class="text-warning icon-star"></i> Recent Grad</li>
  

<ul class="thumbnails" ng-repeat="things in thing | filter:{status:'grad'}|limitTo:3">
  <li class="span2">
    <div class="thumbnail">
      <a href="#/{{things.id}}"><img src="{{things.thumb}}" alt="{{things.name}}"></a>
      <h6>{{things.name}}</h6>
    </div>
  </li>
</ul>


    </div>
    </div>
  </div>
</div>

<ul>
      <li ng-repeat="item in data">{{item.body}}</li>
    </ul>
    <pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small"></pagination>
  

</div>

