<div class="m_content"></div>

<div class="navbar navbar-googlenav">
  <div class="navbar-inner">
    <div class="btn-toolbar">
    
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#">
          <i class="icon-share-alt"></i> 
        </a>
        <ul class="dropdown-menu">
          <li class="nav-header">Share</li>
          <li>
            <a href="#">
              <i class="icon-facebook text-info"></i> Facebook
            </a>
          </li>
		   <li>
            <a href="#">
              <i class="icon-twitter text-info"></i> Twitter
            </a>
          </li>
		   <li>
            <a href="#">
              <i class="icon-google-plus text-error"></i> Google+
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#"><i class="icon-download muted"></i> Download</a>
          </li>
        </ul>
      </div>
  </div>
</div>
<!--promo img-->
<br />
<center><img class="img-polaroid" ng-src="{{project.promo_img}}"></a></center>

<hr class="soften">

<div class="row">
  <div class="span12">
  <div class="sub_title">
    <div class="st" style="color:#B94A48">{{project.name}}</div>
</div>

<p>{{project.description}}</p>
<p>Technology used: <span class="label label-important" ng-repeat="tech in project.techUsed" ng-click="addTag(tech)">{{tech | uppercase}}</span></p>
      
    <div class="row">
      <div class="span7">
	   <div class="sub_title">
    <div class="st" style="color:#B94A48">Screenshot</div>
</div>
<div class="row">
  <div class="span5">
   
   
  <ul class="thumbnails">
  <li class="span5">
  <a href="#" class="thumbnail">
  <img ng-src="{{mainImageUrl}}"> 
   </a>
  </li>
  </ul>
  </div>
  
  <div class="">
 <ul class="thumbnails">
  <li class="span2" ng-repeat="img in project.screenshot">
    <img ng-src="{{img}}" ng-click="setImage(img)" height="115" width="115">
  </li>
</ul>
</div>
</div>

	  </div>
      <div class="span4 offset1">
    
	<div class="row">
	    <div class="sub_title">
    <div class="st" style="color:#B94A48">PLAYGROUND</div>
</div>
<br />
  <div class="span2">
      <p>Try</p>
      <p>View</p>

<a href="#/{{things.id}}">
  </div>
  <div class="span2">
    <p><a href="{{project.url.demo_url}}" class="span1 btn btn-primary">{{project.url.demo_title | uppercase}}</a></p>
 <p><a href="{{project.url.source_url}}" class="span1 btn btn-danger">{{project.url.source_title | uppercase}}</a></p>
</div>
</div>
	  
	  </div>  
	  

	  

    </div>
  
  
  
  </div>
</div>


</div>